
// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-headings-design/_base.headings.scss";

// Objects
@import "px-actionable-design/_objects.actionable.scss";

/**
 * px-accordion styles
 */
.px-accordion {

  // Component
  .accordion__header {
    margin-bottom: 0.3333rem;
    cursor       : pointer;
    user-select  : none;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .accordion__expand__collapse {
    margin-bottom: 1.5rem;
  }

  .accordion__icon {
    width : 1rem;
    height: 1rem;
  }

  .accordion__status {
    margin-right  : 1rem;
    text-transform: none;
  }

  .accordion__body {
    margin  : 0;
    overflow: auto;
  }

  .iron-collapse {
    display                    : block;
    transition-duration        : 300ms;
    -webkit-transition-duration: 300ms;
    overflow                   : visible;
  }

  .iron-collapse.iron-collapse-closed {
    display: none;
    //height: 0;
  }

  .iron-collapse:not(.iron-collapse-opened) {
    overflow: hidden;
  }

}

// Generic
//@import "px-normalize-design/_generic.normalize.scss";
//@import "px-box-sizing-design/_generic.box-sizing.scss";
//@import "px-helpers-design/_generic.helpers.scss";

// Trumps
$inuit-enable-paddings--tiny: true;
@import "px-spacing-design/_trumps.spacing.scss";
