@import 'variables';
@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";
@import "px-helpers-design/_generic.helpers.scss";
@import "px-normalize-design/_generic.normalize.scss";
@import 'px-mobile-design/sass/_mixins.scss';
