


.PxAppHeader {
	background: #333;
	padding: .2rem 1rem;
	h1 {
		padding: 0;
		margin: 0;
		font-size: 1.1rem;
		line-height: 2rem;
		font-weight: 400;
		color: #b6c3cc;
		display: inline-block;
	}
}

.PxKeyValuePair {
	.label {
		text-transform: uppercase;
		font-size: .8rem;
		line-height: 1.66667;
		color: #677e8c;
		white-space: nowrap;
	}
	.value {
		font-size: 4rem;
		line-height: 1.06667;
		font-weight: 400;
	}
}

.box {
	border:1px solid #96a8b2 !important;
	background: #fff;
	padding: .5rem;
	h3 {
		margin: .5rem 0;
		margin-top: 0;
		padding-bottom: .5rem;
		border-bottom: 1px solid #96a8b2;
		font-weight: 400;
		font-size: 1.1rem;
	}
}
