{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["transform-react-remove-prop-types",{"mode": "wrap"}]
  ],
  "env": {
    "modules": {
      "presets": [
        [ "@babel/preset-env", { "modules": "umd" } ]
      ],
      "plugins": [
        "babel-plugin-styled-components"
      ]
    },
    "es6": {
      "presets": [
        [ "@babel/preset-env", { "modules": false } ]
      ],
      "plugins": [
        "babel-plugin-styled-components"
      ]
    }
  }
}
