{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["transform-decorators"],
    ["transform-react-remove-prop-types",{"mode": "wrap"}]
  ],
  "env": {
    "dev": {
      "presets": [
        "es2015",
        "react-hmre"
      ]
    },
    "development": {
      "presets": [
        "es2015"
      ]
    },

    "distMin": {
      "presets": [
        "es2015"
      ]
    },
    "ghPages": {
      "presets": [
        "es2015"
      ]
    },
    "modules": {
      "presets": [
        [
          "env",
          {
            "modules": "umd"
          }
        ]
      ]
    },
    "es6": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}
