{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 9"],
        "node": "8"
      }
    }]
  ],
  "plugins": [
    "styled-jsx/babel",
    ["transform-class-properties", { "spec": true }],
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "dev": {
      "presets": [
        "es2015",
        "react-hmre"
      ]
    },
    "development": {
      "presets": [
        "es2015"
      ]
    },
    "dist": {
      "presets": [
        "es2015"
      ]
    },
    "distMin": {
      "presets": [
        "es2015"
      ]
    },
    "ghPages": {
      "presets": [
        "es2015"
      ]
    },
    "modules": {
      "presets": [
        [
          "es2015",
          {
            "modules": "umd"
          }
        ]
      ]
    },
    "es6": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}
