{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 1,
    "comma-dangle": ["error", "never"],
    "jsx-a11y/href-no-hash": 0,
    "global-require": 0,
    "prefer-arrow-callback": 0,
    "experimentalDecorators": 0,
    "func-names": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "react/jsx-filename-extension": 1,
    "react/sort-comp": 0,
    "react/no-multi-comp": 0,
    "template-curly-spacing": 0,
    "react/require-extension": 0,
    "react/destructuring-assignment": 1
  },
  "overrides": [
    {
      "files": [
        "src/**/*.js",
        "src/**/*.jsx"
      ],
      "excludedFiles": [
        "src/**/*.stories.js",
        "src/**/*.test.js"
      ]
    }
  ]
}
