language: node_js
node_js:
- '8'
before_script:
#- npm i -g bower
#- bower install --force-latest
script:
- yarn test:lint
- yarn test:coverage --ci
after_success:
- bash <(curl -s https://codecov.io/bash)
- yarn gh-pages
deploy:
  provider: npm
  email: jonniespratley@gmail.com
  api_key:
    secure: vMsGZaTQYW7PzEUqP+o3tk/Vtlfhu4LMrUuaIupDxfU3q3nAjWQOuBxuKG7oa12N31gqD7IZeiUV/WheIbSxI1RAmyE9qYBD4yP46XyXt8qngsYom0jAI5hXUL9niXldg1EZBwtNkmc0z7x87mqJwc1xWiscxqRTPzpTryw/qsJ2PdVs9Kz+QrYNB+oLPp32SvZPAN8I5mbkWdeZJTh5KUmDmyN0dYzRUy/NvFCF5EDz76iGmakyPr2B3Lg+QBFSq1/stwClfRZqBz5Dy7/V53v/RDM6vR9R802WZ/bksyZ6aVlUxar/6RBxUNrEcpG5neX6A6RDkJg0jwadL4ASxmdPJnNUCSl/hmRLR0Lz20ApDv2BjGHtCFaxgsEo44RdWPzqqLpsXZ4jR/QjK5vz+e90IAop+OHP62NgcLnUJEcu2p6wBIKHjMKXeAlEiYQFkMf5Nv6sRVRHxS8f24RNzGQK7R9l5KbNjcEt1JepOIb0dy2aM3cJ6ZcRGKGJ7gNAf4KAmp6IGnyFMAqZ6qESiySXUiasV3r2ckMzE1BCE+ph23HbqezkMXViyaP+EyfBAj1QszVSXfQkJCRoLAs3FdYJoMSaYxjybmYBGjKqA4gAzS5o7VdJwBOWwqDvz3oLneHpn0ELeFb3So69127mVJ538ull1VninM8/LgFm/G0=
  on:
    tags: true
    repo: jonniespratley/predix-ui
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: 'gh-pages'
  github_token:
    secure: K/xkNVkgk1EkcGlghIjS1F00qEl+AcE9dyHqtSqUwhCT1KOB6f3WM7ogb+nSyg9yILgotMGZ8EWHUvCULM5w2Fioyo5IiVHAMNmRhImOW4ghDdf9mvpph0pI2vinmPJ5EFHUx1wrMwrsFJT+RrxmXPxOmzj09y/OUe1gQP6aF5pZk4wPR308dH4qfI2qmQ2r5vyUA01Zl2k1qsf1NS20zX8I7HDgVH579izLfFPnn9fvwBsUuObWF/YId5jeRymW0k4ETYmbMeJNBwpIXjfYJRHGgssqluE88GO/DN+NNspMugKWLLwpIfwJR9RxpRQwPKtNlob0GC8I4pvlGlx0ZtNeChQI9J6I2vB6Dv+fN8QWuPA8XLe0zV8s6aF7uvWxg0m8C2MmfjxVLuCiVNNG15eJeAzisOar847Y21L3qNAYYPnm/RSdYEHeAzZccYVa/had1DKeyVnYzSqnl+06BLORe3wmm6JMYrjv8aSHfnJSRrmbJXJ5bboPyYW6SXDc2DiLUzFDkn/lAg5Y5w3UDiQRcHrTkG7uvw9ERTcR+bx6PXhLq5NPHGftdt6trV2VTpIokybHKDN7Wl9vuf0ArMfOzb8cwMeowQIe8TziLVwjjK9zyIVkAol33aq4nbbmS1Al1Zh2pbaiwbfFl5cQOtZcbvjm/BtIBgpNCZBeLJk=
  on:
    branch: develop
