// Generic
//@import "px-normalize-design/_generic.normalize.scss";
//@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";


/**
 * px-chip styles
 */
.px-chip {

  // Component

  .chip {
    display         : inline-block;
    align-items     : center;
    height          : calculateRem(20px);
    padding-left    : calculateRem(10px);
    padding-right   : calculateRem(10px);
    background-color: var(--px-chip-background-color, white);
    border          : 1px solid var(--px-chip-border-color, gray);

    &:hover {
      cursor          : pointer;
      background-color: var(--px-chip-background-color--hover, rgba(gray, 0.2));
      border          : 1px solid var(--px-chip-border-color--hover, gray);

      .chip__actionable-icon {
        color: var(--px-chip-icon-color--hover, blue);
      }
    }
  }

  .chip__actionable-icon {
    height: calculateRem(12px);
    width : calculateRem(12px);
  }

  :host(:focus) {
    outline: none;
  }

  .selected {
    background-color: var(--px-chip-background-color--selected, white);
    border          : 1px solid var(--px-chip-border-color--selected, blue);
  }

  .chip[show-icon] {
    padding-right: 5px;
  }

  .flexContainer {
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .chip__content {
    line-height: calculateRem(18px);
    display    : inline-block;
    min-width  : 0;
    max-width  : var(--px-chip-max-width, calculateRem(120px));
    color      : var(--px-chip-text-color, gray);
  }

  .chip__content[selected] {
    color: var(--px-chip-text-color--selected, blue);
  }

  .chip__actionable-icon {
    color      : var(--px-chip-icon-color, gray);
    margin-left: calculateRem(5px);
  }

}
