/**
 * px-action-sheet styles
 */
.px-action-sheet {

}

.flex {
  display: flex;
}

.inline--flex {
  display: inline-flex;
}

.flex--row {
  flex-direction: row;
}

.flex--row--rev {
  flex-direction: row-reverse;
}

.flex--col {
  flex-direction: column;
}

.flex--col--rev {
  flex-direction: column-reverse;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--wrap--rev {
  flex-wrap: wrap-reverse;
}

.flex--left {
  justify-content: flex-start;
}

.flex--center {
  justify-content: center;
}

.flex--right {
  justify-content: flex-end;
}

.flex--justify {
  justify-content: space-between;
}

.flex--spaced {
  justify-content: space-around;
}

.flex--top {
  align-items: flex-start;
}

.flex--middle {
  align-items: center;
}

.flex--bottom {
  align-items: flex-end;
}

.flex--stretch {
  align-items: stretch;
}

.flex--baseline {
  align-items: baseline;
}

.flex--top--multi {
  align-content: flex-start;
}

.flex--middle--multi {
  align-content: center;
}

.flex--bottom--multi {
  align-content: flex-end;
}

.flex--stretch--multi {
  align-content: stretch;
}

.flex--justify--multi {
  align-content: space-between;
}

.flex--spaced--multi {
  align-content: space-around;
}

.flex__item {
  flex: 1;
}

.flex__item--top {
  align-self: flex-start;
}

.flex__item--middle {
  align-self: center;
}

.flex__item--bottom {
  align-self: flex-end;
}

.flex__item--baseline {
  align-self: baseline;
}





// TODO: Mask
.c-action-dialog--mask {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &--is-open {

    z-index: 10 !important;
    opacity: 1 !important;
    visibility: visible;
  }
}


// TODO: Actionsheet
.c-action-sheet {
  user-select: none;
  padding: 0;
  border-radius: 0;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.3s;
  bottom: 0;
  transform: translateY(115%);
  border: none;
  border: var(--px-action-sheet-border, none);
  background-color: white;
  background-color: var(--px-action-sheet-background-color, white);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

  &--is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.c-action-sheet.sixteen-nine {
  position: relative;
}

.c-action-sheet.sixteen-nine:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 56.25%;
}

.c-action-sheet.sixteen-nine > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@media (max-width: 51.1333333333rem) {
  .c-action-sheet {
    border-left: none;
    border-right: none;
    border-bottom: none;
    left: 0;
    right: 0;
  }
}
@media (min-width: 51.2rem) {
  .c-action-sheet {
    left: 20%;
    right: 20%;
  }
}

.c-action-sheet--full {
  left: 0;
  right: 0;
}

.c-action-sheet__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.6666666667rem 1rem;
}
@media (max-width: 68.2rem) {
  .c-action-sheet__actions {
    margin: 0.3333333333rem;
  }
}

.c-action-sheet__actions--grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.c-action-sheet__actions--grid px-action-sheet-button {
  flex: 1 0 80px;
  padding: 0.6666666667rem;
}
@media (max-width: 51.1333333333rem) {
  .c-action-sheet__actions--grid px-action-sheet-button {
    margin: 0.3333333333rem;
  }
}

.c-action-sheet__actions--list {
  flex-direction: column !important;
  flex-wrap: wrap;
}

.c-action-sheet__actions--list px-action-sheet-button {
  flex: 1;
  margin: 0;
}

.c-action-sheet__actions--list button,
.c-action-sheet__actions--list::content button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin: 0 !important;
  text-align: left;
}

.c-action-sheet__actions--list button i,
.c-action-sheet__actions--list::content button i {
  margin-left: 0.6666666667rem;
  margin-right: 0.6666666667rem;
}

.c-action-sheet__button {
  box-shadow: none;
  border: none;
  display: flex;
  text-align: center;
  outline: none;
  user-select: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  padding: 0.6666666667rem;
  border-bottom: none;
}

.c-action-sheet__button > * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  outline: none;
}

.c-action-sheet__button btn,
.c-action-sheet__button::content btn {
  height: 100%;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-action-sheet__button--danger {
  color: #ff5c5c !important;
  border-bottom: none !important;
}

.c-action-sheet__button--info {
  color: #525156 !important;
  pointer-events: none;
  white-space: pre-wrap;
  line-height: normal;
}

.c-action-sheet__button--info:active {
  transition: none;
  opacity: 1;
}
