@import 'px-spacing-design/_trumps.spacing.scss';

$font-family-default                    : inherit !default;
$font-weight                            : 500 !default;
$table-row-color                        : var(--px-table-row-color, inherit);
$table-row-font-size                    : var(--px-table-row-font-size, $inuit-base-font-size);
$table-row-border-width                 : var(--px-table-row-border-width, 1px);
$table-row-border-style                 : var(--px-table-row-border-style, solid);
$table-row-border-color                 : var(--px-table-row-border-color, black);
$table-row-separator-width              : var(--px-table-row-separator-width, 1px);
$table-row-separator-style              : var(--px-table-row-separator-style, solid);
$table-row-separator-color              : var(--px-table-row-separator-color, black);
$table-row-background-color             : var(--px-table-row-background-color, white);
$table-row-active-background-color      : var(--px-table-row-selected-background-color, black);
$table-row-selected-color               : var(--px-table-row-selected-color, white);
$table-row-selected-background-color    : var(--px-table-row-selected-background-color, black);
$table-row-active-font-color            : var(--px-table-row-selected-color, white);
$table-row-label-font-color             : var(--px-table-row-label-color, black);
$table-row-label-font-size              : var(--px-table-row-label-font-size, $inuit-base-font-size);
$table-row-min-height                   : var(--px-table-row-min-height, calculateRem(44px));
$table-row-line-height                  : var(--px-table-row-line-height, $inuit-base-font-size);
$table-row-header-background-color      : var(--px-table-row-header-background-color, black);
$table-row-header-font-color            : var(--px-table-row-header-color, inherit);
$table-row-title-font-size              : var(--px-table-row-title-font-size, $inuit-base-font-size);
$table-row-title-font-color             : var(--px-table-row-title-color, inherit);
$table-row-subtitle-font-color          : var(--px-table-row-subtitle-color, black);
$table-row-subtitle-font-size           : var(--px-table-row-subtitle-font-size, $inuit-base-font-size);
$table-row-body-font-color              : var(--px-table-row-body-color, black);
$table-row-body-font-size               : var(--px-table-row-body-font-size, $inuit-base-font-size);
$table-row-header-font-size             : var(--px-table-row-header-font-size, $inuit-base-font-size);
$table-row-header-padding               : var(--px-table-row-header-padding, $inuit-base-spacing-unit--tiny);
$table-row-header-text-transform        : var(--px-table-row-header-text-transform, uppercase);
$table-view-responsive-row-width        : calculateRem(230px);
$table-view-responsive-row-gutters      : 0;
$table-view-responsive-row-max          : 4;
$table-view-padding--tiny               : $inuit-base-spacing-unit--tiny;
$table-view-padding--small              : $inuit-base-spacing-unit--small;
$table-view-padding--large              : $inuit-base-spacing-unit--large;
$table-view-padding--huge               : $inuit-base-spacing-unit--huge;
$table-row-button-padding               : $inuit-base-spacing-unit--small;
$table-row-button-margin                : 0;
$table-row-button-color-alert           : var(--px-table-row-button-color-alert, black);
$table-row-button-color-warn            : var(--px-table-row-button-color-warn, black);
$table-row-button-color-primary         : var(--px-table-row-button-color-primary, black);
$table-row-button-color-info            : var(--px-table-row-button-color-info, black);
$table-row-button-color-alert-hover     : var(--px-table-row-button-color-alert-hover, #333);
$table-row-button-color-warn-hover      : var(--px-table-row-button-color-warn-hover, #333);
$table-row-button-color-primary-hover   : var(--px-table-row-button-color-primary-hover, #333);
$table-row-button-color-info-hover      : var(--px-table-row-button-color-info-hover, #333);
$table-row-button-color-alert-active    : var(--px-table-row-button-color-alert-pressed, #555);
$table-row-button-color-warn-active     : var(--px-table-row-button-color-warn-pressed, #555);
$table-row-button-color-primary-active  : var(--px-table-row-button-color-primary-pressed, #555);
$table-row-button-color-info-active     : var(--px-table-row-button-color-info-pressed, #555);
$table-row-button-font-color            : var(--px-table-row-button-font-color, white);
$table-row-button-font-size             : $inuit-base-font-size;
$table-row-actions-transition           : all 0.4s;
$table-row-button-transition            : all 0.4s;
