@charset "utf-8";
@import "variables";
@import "mixins";
@import "px-mobile-design/sass/_mixins.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";

// Base

@include b ('table-view') {
  @include clearfix();
  @include pxFonts();
  font-size      : $table-row-font-size;

  list-style-type: none;
  margin         : 0;
  padding        : 0;
  position       : relative;
  display        : flex;
  flex-direction : column;

  ///------------------------------------------------------
  @include c ('.table-row') {
    padding: $inuit-base-spacing-unit--small;
  }

  ///------------------------------------------------------
  ///.table-view--tiny
  @include modifier ('tiny') {
    @include c ('.table-row') {
      padding: $inuit-base-spacing-unit--tiny !important;
    }
  }

  ///------------------------------------------------------
  ///.table-view--small
  @include modifier ('small') {
    @include c ('.table-row') {
      padding: $inuit-base-spacing-unit--small !important;
    }
  }

  ///------------------------------------------------------
  ///.table-view--large
  @include modifier ('large') {
    @include c ('.table-row') {
      padding: $inuit-base-spacing-unit--large !important;
    }
  }

  ///------------------------------------------------------
  ///.table-view--huge
  @include modifier ('huge') {
    @include c ('.table-row') {
      padding: $inuit-base-spacing-unit--huge !important;
    }
  }

  ///------------------------------------------------------
  @include modifier ('regular') {
    @include c ('.table-row') {
      padding: $inuit-base-spacing-unit !important;
    }
  }

  ///------------------------------------------------------
  ///.table-view--flush
  @include modifier ('flush') {
    @include c ('.table-row') {
      padding: 0 !important;
    }
  }

  &ul {
    margin: 0 !important;
  }
}

// Trumps

