@import 'px-defaults-design/_settings.defaults.scss';
@import 'px-colors-design/_settings.colors.scss';
@import 'px-spacing-design/_trumps.spacing.scss';
@import 'px-mobile-design/sass/_mixins.scss';


///See px-header/px-header.html
@include block('c-header') {
  font-size      : $inuit-base-font-size;
  display        : flex;
  justify-content: space-between;
  padding        : $inuit-base-spacing-unit--small;
  a {
    text-decoration: none;
  }
  @include media-breakpoint ('xs') {
    //flex-direction:column;
    padding        : $inuit-base-spacing-unit--tiny;
  }

  &__left,
  &__right {
    //  align-self      : stretch;

  }

  ///-------------------------------------
  @include element('title') {
    white-space: nowrap;
    user-select: none;
    flex       : 1;
    color      : var(--px-header-title-color, $gray4 );
    text-align : left;
    @include noselect();
  }

  ///-------------------------------------
  @include element('logo') {
    //  transform: translateY(2px);
  }

  ///-------------------------------------
  @include element('brand') {
    display     : flex;
    color       : var(--px-header-brand-color, $gray4 );
    margin-right: $inuit-base-spacing-unit--tiny;
  }

  ///-------------------------------------
  @include element('subtitle') {
    @include noselect();
    color: var(--px-header-subtitle-color, $gray6 );
  }

  ///-------------------------------------
  @include element('powered') {
    @include noselect();
    align-self: stretch;
    color     : var(--px-header-powered-color, $gray6 );
  }

  ///-------------------------------------
  @include element('seperator') {
    flex            : 1;
    max-height      : 20px;
    height          : 100%;
    width           : 1px;
    background-color: var(--px-header-seperator-color, $gray6 );
    margin-right    : $inuit-base-spacing-unit--small;
    margin-left     : $inuit-base-spacing-unit--small;
  }

  ///-------------------------------------
  @include element('content') {
    position: relative;
  }

  ///-------------------------------------
  @include element('left') {
    display        : flex;
    text-align     : left;
    justify-content: flex-start;
    align-items    : center;
    order          : 1;
  }

  ///-------------------------------------
  @include element('right') {
    display        : flex;
    align-items    : center;
    text-align     : right;
    order          : 4;
    flex           : 1;
    align-self     : center;
    justify-content: flex-end;
  }

  ///-------------------------------------
  @include element('circle') {
    border-radius   : 50%;
    background-color: var(--px-header-circle-background-color, $gray6);
    color           : var(--px-header-circle-color, $gray4);
    padding         : $inuit-base-spacing-unit--tiny;
    margin-right    : $inuit-base-spacing-unit--tiny;
    text-align      : center;
    display         : flex;

  }

  ///-------------------------------------
  @include c ('nav') {
    @include noselect();
    display: flex;
    align-self: stretch;
    flex: 1;
    margin-left: $inuit-base-spacing-unit;
    > * {
      display: flex;
    }

    a {
      text-decoration: none;

    }
  }

  ///-------------------------------------
  @include element('link') {
    box-sizing           : border-box;
    margin-left         : $inuit-base-spacing-unit--tiny;
    white-space          : nowrap;
    padding              : $inuit-base-spacing-unit--tiny $inuit-base-spacing-unit--small;
    border-radius        : var(--px-header-link-border-radius, 2px);
    color                : var(--px-header-link-color, $gray6);
    border               : 1px solid transparent;
    cursor               : pointer;
    outline              : none;
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    appearance           : none;
    background-color     : var(--px-header-link-background-color, rgba(0,0,0, 0));
    display              : flex;
    align-content        : space-between;
    justify-content      : center;
    align-items: center;
    @include media-breakpoint (sm) {
        padding        : $inuit-base-spacing-unit--tiny;
    }
    &:active{
      background-color: var(--px-header-link-active-background-color, rgba(0,0,0, .4));
    }
    @include m('selected') {
      background-color: var(--px-header-link-active-background-color, rgba(0,0,0, .4));
    }
  }

  ///-------------------------------------
  @include element('username') {
    user-select: none;
    align-self : center;
  }

}
