//@import "sass/px-drawer-predix.scss";
/**
 * px-drawer styles
 */
.px-drawer {
  //display: block;


  .drawer {
    z-index         : 20;
    color: var(--px-drawer-font-color, black);
    background-color: var(--px-drawer-background-color, white);
    width           : var(--px-drawer-width, 256px);
    height          : var(--px-drawer-height, 100%);
    //  @apply(--px-drawer);

    &--mini {
      width: var(--px-drawer-mini-width, 50px);
    }

    &--static {
      height: 100vh;
    }

    &--opened {
      width: var(--px-drawer-mini-width-opened, auto);
      visibility: visible;
      transform : translate3d(0,0,0);
    }

    &--persistent{
      min-height: 100vh;
    }

    &::after {
      position  : fixed;
      top       : 56px;
      bottom    : 0;
      left      : 100%;
      visibility: visible;
      width     : 20px;
      content   : '';
    }

  }

  .drawer--persistent  > .drawer__overlay {
    visibility: hidden;
    display: none;
    pointer-events: none;
    opacity: 0;
  }



  .drawer__spacer {
    min-height: 56px;
  }

  .drawer__content {
    overflow-x: hidden;
  }

  .drawer__overlay {
    position         : fixed;
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    transition       : opacity 0.2s ease;
    -webkit-transform: translateZ(0);
    transform        : translateZ(0);
    opacity          : 0;
    background       : var(--px-drawer-overlay-background, rgba(0, 0, 0, 0.5));
    z-index          : -1;
    visibility       : hidden;
    display          : none;
    &--opened {
      opacity   : 1;
      z-index   : 15;
      visibility: visible;
      display   : block;
    }
  }


}
