/**
 * px-overlay styles
 */
 .px-overlay {
   position        : fixed;
   top             : 0;
   right           : 0;
   bottom          : 0;
   left            : 0;
   z-index         : 900;
   background-color: var(--px-modal-overlay-color, rgba(0, 0, 0, 0.5));
   transition      : background-color 0.2s cubic-bezier(.78,.13,.16,.87);
   &--invisible{
     visibility      : hidden;
     background-color: transparent;
   }
 }
