@import "px-defaults-design/_settings.defaults.scss"; //@import "px-colors-design/_settings.colors.scss";
//@import 'px-mobile-design/sass/_mixins.scss';
//@import 'px-mobile-design';
//@import 'px-mobile-design/sass/_variables';
@import 'px-mobile-design/sass/_mixins.scss';
@import 'px-spacing-design/_trumps.spacing.scss';
@import 'px-colors-design/_settings.colors.scss';
@import "px-functions-design/_tools.functions.scss"; ///px-navbar vars
///
///
$navbar-default-background-color       : var(--px-navbar-background-color, #e2e8ed);
$navbar-default-font-color             : var(--px-navbar-font-color, #2c404c);
$navbar-default-border-bottom          : 1px solid gray;
$navbar-default-box-shadow             : 0 2px 2px 0 rgba(0, 0, 0, 0.15); ///

$navbar-height                         : 56px;
$navbar-padding                        : $inuit-base-spacing-unit--tiny; ///
$navbar-button-font-size               : $inuit-base-font-size;
$navbar-button-padding                 : $inuit-base-spacing-unit--tiny;
$navbar-button-height                  : calculateRem(44px);
$navbar-button-width                   : calculateRem(44px);
$navbar-button-background-color        : var(--px-navbar-button-background-color, rgba(0, 0, 0, 0));
$navbar-button-color                   : var(--px-navbar-button-color, blue);
$navbar-button-border-radius           : 2px;
$navbar-button-border                  : var(--px-navbar-button-border, 1px solid transparent);
$navbar-button-background-color--active: rgba(0, 0, 0, .5);
$navbar-button-opacity--active         : 0.5; ///
$navbar-title-font-size                : calculateRem($inuit-base-font-size);
$navbar-title-font-color               : var(--px-navbar-font-color, black); ///
$navbar-subtitle-font-size             : calculateRem(12px);
$navbar-subtitle-font-color            : #677e8c;
$navbar-padding--tiny                  : $inuit-base-spacing-unit--tiny;
$navbar-padding--small                 : $inuit-base-spacing-unit--small;
$navbar-padding--default               : $inuit-base-spacing-unit;
$navbar-padding--large                 : $inuit-base-spacing-unit--large;
$navbar-padding--huge                  : $inuit-base-spacing-unit--huge;
